@import 'antd/dist/antd.css';

@media (min-width: 1200px) and (max-width: 1920px) { 
    .main-wrapper {
        margin: 0 20%;
    }
}

@media (min-width: 800px) and (max-width: 1200px) { 
    .main-wrapper {
        margin: 0 15%;
    }
}

@media (min-width: 300px) and (max-width: 800px) { 
    .main-wrapper {
        margin: 0 1%;
    }
}

#root {
    padding: 2% 5%;
}

.logo {
    color: rgb(16, 16, 100);
    transition: color 0.7s linear;
}

.logo:hover {
    color: rgb(0, 7, 109)
}

.alert-wrapper {
    display: flex;
    justify-content: center;
}

.ant-alert-info {
    position: fixed;
    top: 10px;
    z-index: 2;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.spinner-wrapper {
    padding-top: 5%;
    text-align: center;
}

.search-dropdown {
    padding: 10px
}

td.emoji-flag {
    padding: 0 0 !important;
    font-size: 2rem;
}
